@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
  url(../../assets/font/Montserrat-Regular.ttf) format("truetype");
}
* {
  box-sizing: border-box;
}
body {
  @include font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include white;
  @include background-black;
  padding: 0;
  margin: 0;
}
strong,
.bold {
  font-weight: 500;
}
ol,
p,
ul {
  line-height: 1.7;
}
li {
  list-style: none;
}
.btn {
  position: relative;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
  @include font;
  @include black;
  outline: none;
  border-radius: 10px;
  letter-spacing: 1px;
  transition: all 0.22s;
  cursor: pointer;
  background: linear-gradient(253.94deg, #09F2C3 8.37%, #15DCE4 69.71%);
  border: 2px solid #15DCE4;
}
.btn-default {
  @include white;
  border: 2px solid #15DCE4;
  background: #3C3C3C;
}
.btn:disabled{
  cursor: not-allowed;
  @include white;
  border: 2px solid #000000!important;;
  background: #3C3C3C!important;;
}
.btn-ocean {
  background: linear-gradient(253.94deg, #09F2C3 8.37%, #15DCE4 69.71%);
}
.btn-dark {
  opacity: 0.4;
}
.btn-danger {
  border: 2px solid #ffbfbf;
  background: #ff0000;
  @include white;
}
.copy {
  cursor: pointer;
}

.modal__drop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.back-drop {
  z-index: 1000;
  background-color: rgba(50, 50, 50, 0.64);
}
.front-drop {
  z-index: 2;
  background-color: rgba(50, 50, 50, 0.53);
}
.modal__window {
  position: fixed;
  top: 30%;
  left: 50%;
  @include font;
  @include white;
  width: 522px;
  height: 162px;
  border-radius: 14px;
  padding: 30px 30px 30px 150px;
  z-index: 1000;
  transform: translateX(-50%);
}
.successfully {
  background: #6f6f6f;
}
.error {
  color: #F55572;
}
.modal__window  h3 {
  @include font;
  @include white;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.modal__window  p {
  @include font;
  @include white;
  line-height: 15px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}
.modal__window  .close-small {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.round img:first-child{
  position: fixed;
  top: -43px;
  left: 25px;
  z-index: 1;
}
.round img:last-child{
  position: fixed;
  top: -25px;
  left: 45px;
  z-index: 2;
  width: 28px;
  height: 28px;
}

.bubbles img{
  position: fixed;
  left: 0;
  top: 44px;
  border-bottom-left-radius: 14px;
}
.section__tokens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-color: #3C3C3C;
  border-radius: 14px;
  width: 186px;
  cursor: pointer;
}
.section__inner {
  @include flex-row;
  @include white;
}
.section__inner-title{
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: #8F8F8F;
}
.right-side{
  align-self: end;
  margin-top: 8px;
}
.token__title {
  @include flex-row;
  margin-bottom: 30px;
}
.close {
  cursor: pointer;
}
.token__title h2 {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
  margin: 0;
  @include white;
}
.list {
  @include font;
  @include flex-column;
  width: 210px;
  height: 50px;
  margin: 0;
  padding: 0;
}
.list-exchange {
  @include flex-row;
  width: 203px;
}
.exchange-icon {
  display: flex;
  justify-content: start;
  align-items: center;
}
.icon-background {
  width: 35px;
  height: 30px;
  background: #000000;
  border-radius: 37px;
  text-align: center;
  margin: 0 10px 0 0;
  padding: 0;
}

label {
  display: block;
  @include font;
  line-height: 20px;
  color: #C7C7C7;
  margin-bottom: 10px;
  margin-top: 30px;
}
.input {
  margin: 0 0 0 0;
  outline: none;
  display: block;
  width: 100%;
  height: 72px;
  padding: 0.5rem 1.5rem;
  color: #8F8F8F;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1px;
  background: #585858;
  border: 1px solid #585858;
  box-sizing: border-box;
  border-radius: 14px;
  resize: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
